li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

form {
    margin-left: 100px;
}

.tv-series {
    margin-top: 2%; 
}

.button {
    color: whitesmoke;
    background-color: rgb(196, 84, 84);
}

.tv-series {
    color: black;
}

.back {
    text-decoration: underline;
}

.series-image {
    height: 170px;
}