<div class="moviePage">
   <h2 class="text-center">Movie marathon this weekend?</h2>
   <div class="text-center">
      <form>
          <input class="form-control mb-3 align-center" name="search" [(ngModel)]="movieSearch.title" placeholder="Search by Movie Title..."/> 
      </form>
      <button (click)="findMovies(movieSearch)" class="btn btn-outline-danger text-center searchBtn" >Search</button>
   </div>  
  <div>
      <a class="back btn" routerLink="" >Back</a>
  </div>
  <ul id="movieCard">
        <li *ngFor="let m of movies">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{m.image_url}}" alt="Movie image">
              <div class="card-body">
                <h5 class="card-title">{{ m.title }}</h5>
                <p class="card-text"><strong>Cast</strong> - {{m.cast}}</p>
                <a routerLink="/movieDetails/{{ m.id }}" class="btn btn-outline-danger">View More</a>
              </div>
            </div>
        </li>
  </ul>
</div>