<div class="moviePage">
   <h2>Movie marathon this weekend?</h2>
   <p>Search for movies you want to watch by movie title below</p>
   <form>
      <input name="search" [(ngModel)]="movieSearch.title"/> 
      <button (click)="findMovies(movieSearch)" class="btn btn-outline-danger searchBtn">Search Movies</button>
     </form>
     <ul>
        <li *ngFor="let m of movies">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{m.image_url}}" alt="Movie image">
              <div class="card-body">
                <h5 class="card-title">{{ m.title }}</h5>
                <p class="card-text"><strong>Cast</strong> - {{m.cast}}</p>
                <a routerLink="/movieDetails/{{ m.id }}" class="btn btn-primary">View More</a>
              </div>
            </div>
        </li>
      </ul>
</div>