li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

form {
    margin-left: 100px;
}

.moviePage {
    margin-top: 2%; 
    /* color: black; */
}

#movieCard {
    color: black;
}

.card-img-top {
    width: 18rem;
    height: 18rem;
}

.card-body {
    height: 15rem;
}

/* searchBtn {
   
} */